.section-title {
  font-size: 8rem;
  font-weight: 300;
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  color: rgba($white, 0.6);
  word-wrap: break-word;

  em {
    font-style: italic;
  }

  span {
    font-size: 2rem;
  }
}

#left .tags {
  margin-top: 1rem;

  > li {
    background: transparent;
    color: lighten($black, 28%);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0.4rem 0.1rem 0 0;
    padding: 0.7rem 1rem;
    text-transform: uppercase;

    > a {
      color: $white;
    }
  }
}

#post {

  article {
    padding-top: 2rem;
  }

  time {
    color: darken($white, 40);
    display: block;
    padding-top: 1rem;
    text-align: right;
  }

  #right {

    a {
      border-bottom: .08em solid rgba(0,0,0,.1);
      padding-bottom: .08em;
    }

    a:hover {
      border-bottom: .08em solid $green;
    }

    .content {
      display: block;
      height: auto;
    }

    .logo {
      display: block;
      margin-top: 1rem;
      width: 100%;

      img {
        width: 2.5rem;
      }

      &:before,
      &:after {
        background: linear-gradient(to right, #d0de41 0%, #abd037 50%, #87c040 100%);
        content: '';
        display: block;
        height: 0.2rem;
        position: absolute;
        top: 0.8rem;
        width: calc(50% - 2rem);
      }

      &:after {
        background: linear-gradient(to right, #3c1a0b 0%, #704b1d 50%, #9e7a2c 100%);
        left: auto;
        right: 0;
      }
    }
  }
}

article {
  font-size: 1.6rem;
  position: relative;

  h1 {
    font-size: 7rem;
    line-height: 7rem;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgba($overlay, 0.7);

    strong {
      font-weight: 700;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #444 !important;
    margin-bottom: 1.3em;
  }

  small {
    color: darken($white, 40);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
  }

  // a:not(.btn) {
  //   color: $green;
  //   border-bottom: 0.1rem dotted $green;
  // }

  ul,
  ol {
    padding-left: 5rem;

    > li {
      color: $dark;
      font-size: 1.6rem;
      position: relative;
      margin-bottom: 2rem;

      &:first-child {
        margin-top: 2rem;
      }
    }
  }
}

.demo {
  margin-bottom: 5rem;
}

.post-title-section {
  position: absolute;
  top: 14rem;
  left: 5rem;
  right: 5rem;

  .section-title {
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 4.2rem;
  }

  .tags > li {
    background: none;
    border: 0.1rem solid rgba($white, 0.4);
    color: $white;
    font-size: 1.5rem;
  }

  h3 {
    color: $green;
    display: block;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;

    &:after {
      background: rgba($white, 0.4);
      content: '';
      display: block;
      height: 0.2rem;
      position: absolute;
      right: 0;
      top: 1.5rem;
      width: calc(100% - 10rem);
    }

    // a {
    //   color: $green;
    //   &:hover {
    //     color: #4dbe7a;
    //   }
    // }

    em {
      display: inline-block;
      margin: 0 1rem;
    }

    &.reverse {
      margin-top: 4rem;
      text-align: right;

      &:before {
        background: rgba($white, 0.4);
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        top: 1.5rem;
        width: calc(100% - 20rem);
      }

      &:after {
        display: none;
      }
    }
  }
}

.footer-line {
  float: right;
  margin-bottom: 5rem;
}

#share {
  margin: 1rem auto 2rem auto;
  width: 26rem;

  > .btn {
    font-size: 1.2rem;
    padding-bottom: 0.6rem !important;
  }
}

.pager {
  font-size: 1.6rem;
  left: 0;
  margin: 0.4em 6rem;
  right: auto;
  text-align: left;
  width: 15rem;

  a {
    background-color: darken($white, 5%);
    color: darken($white, 35%) !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    min-width: 5.5em;
    padding: 0.75em !important;
    text-align: center;
    transition: all 0.2s linear;
    vertical-align: middle;
    @include vendor-prefix(user-select, none);
    white-space: nowrap;

    &:first-child {
      border-radius: 0.4rem 0 0 0.4rem;
    }

    &:last-child {
      border-radius: 0 0.4rem 0.4rem 0;
    }

    &:hover {
      background-color: $green;
      color: $white !important;
    }

    &.disabled {
      background-color: darken($white, 3%);
      color: darken($white, 15%) !important;
      cursor: default;

      &:hover {
        background-color: darken($white, 3%);
        color: darken($white, 15%) !important;
      }
    }
  }
}
