/* < = mobile */
@media (max-width: 400px) {}

/* < = phablet */
@media (max-width: 550px) {}

/* < = tablet */
@media (max-width: 750px) {
  html,
  body {
    overflow: auto;
  }

  #left,
  #right {
    float: none;
    overflow-y: inherit;
    width: 100%;
  }
}
