/* < = mobile */
@media (max-width: 400px) {}

/* < = phablet */
@media (max-width: 550px) {}

/* < = tablet */
@media (max-width: 750px) {
  html,
  body {
    overflow: auto;
  }

  #left,
  #right {
    float: none;
    overflow-y: inherit;
    width: 100% !important;
  }

  #projects,
  #page.apps,
  #post,
  #post-list {
    #right .content {
      // padding: 6rem 1rem 1rem;
    }
  }

  #projects #left .content {
    // padding: 6rem 1rem 1rem;
  }
}
