{% capture prefix %}prefix="og: http://ogp.me/ns#"{% endcapture %}
{% if page.image %}
  {% capture image %}{{ page.image }}{% endcapture %}
  {% unless image contains 'http://' or image contains 'https://' %}
    {% capture image %}{{ site.url }}{{ image }}{% endcapture %}
  {% endunless %}
{% else %}
  {% capture image %}{{ site.url }}/assets/images/shellscape-og.png{% endcapture %}
{% endif %}
<meta {{ prefix }} property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.excerpt %}
  <meta {{ prefix }} property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
<meta {{ prefix }} property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta {{ prefix }} property="og:image" content="{{ image }}">
<meta {{ prefix }} property="og:type" content="blog">
<meta {{ prefix }} property="og:site_name" content="{{ site.title }}">
<meta {{ prefix }} property="og:locale" content="{{ site.locale }}">
