<a href="/" class="logo"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}"></a>
<h1 class="section-title">{{ page.title }}<em>/</em></h1>

<h3>
  All of my apps are free (as in beer) and open source. Please feel free to
  view or fork the code for each on
  <a href="https://github.com/{{ site.github }}">Github</a>.
</h3>
<h3>
  If you're enjoying my apps or find them useful, please consider donating.
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="D3B3A525UQY4W">
  </form>
  <a href="#" class="donate">
    donate
    <i class="fa fa-paypal" aria-hidden="true"></i>
  </a>
</h3>
