<a href="/" class="logo"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}"></a>
<h1 class="section-title">{{ page.title}}<em>/</em></h1>

<h4><i class="fa fa-fw fa-github"></i>Github Activity Graph</h4>
<div id="github-graph">
  <div class="spinner">
    <div class="dot"></div>
  	<div class="dot"></div>
  	<div class="dot"></div>
  </div>
</div>

<legend>
  <span>Less</span>
  <ul class="legend">
    <li style="background-color: #eee"></li>
    <li style="background-color: #d6e685"></li>
    <li style="background-color: #8cc665"></li>
    <li style="background-color: #44a340"></li>
    <li style="background-color: #1e6823"></li>
  </ul>
  <span>More</span>
</legend>

<h3>All of my projects are freely available on <a href="https://github.com/{{ site.github }}">Github</a></h3>
